.loginPage {
    & .welcome {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 68.6239px;
        line-height: 84px;
        color: #008CBA;
    }
    & .wllcomeText {}
    & .connectionText {}
}